@viewport {  
    orientation: portrait;  
  } 

  @media screen and (orientation: landscape) {
    html {
      /* Rotate the content container */
      transform: rotate(-0deg);
    }
  }
:root {
    --color-light-shades: #E13B64;
    --color-light-accent: #A30036;

    --color-primary: #047AED;
    --color-secondary: #e6b8afff;

    --color-dark-accent:#A7AABD;
    --color-dark-shades: #424656;


    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

body,h1,h2,h3,p{
    margin: 0;
}

body{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 1.3125rem;
    line-height: 1.6;
}
@media screen and (max-height: 500px) {
    body{
        font-size: 1rem;
    }
}
a,a:visited{
    color: var(--color-primary);
}

h1,h2,h3{
    font-family: var(--ff-accent);
    font-weight: 900;
    line-height: 1;
}

h2,h3,p{
    margin-bottom: 0.2em;
}
.logo-container{
    margin: auto;
    max-width: 40vh;
}

img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}

#root {
    /* position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    border:1px dotted yellow; 
    margin: auto;
    margin-left: auto;
    margin-right: auto; */

    max-width: 450px;
    margin: auto;
    background: white;
    height: 100vh;
    padding: 0.2em;
    border: 1px solid rebeccapurple;
}

section{
    padding: 0.5rem 0;
    max-width: 450px;
    margin: 0;
    background: white;
    padding: 1em;
    border: 1px solid red;
}

header{
    padding: 0.5rem 0;
}

.container{
    /* margin-inline: auto;
    width: min(90%, 70.5rem);
    max-width: 450px; */
    max-width: 450px;
    margin: 1em;
    background: white;
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.align-placeholder{
    position: relative;
}
.align-right{
    position: absolute; 
    left: auto; 
    right: 1em;
}
.align-left{
    position: absolute; 
    left: 0; 
    right: auto;
}
.navbar-top{
    position: fixed;
    padding: 0;
    margin: auto;
    max-width: 450px;
    width: 100%;
    top: 1em;
    left: 0;
}
.navbar-profile-top{
    position: absolute;
    padding: 0.5rem 0;
    margin: auto;
    max-width: 450px;
    width: 100%;
    top: 1em;
    left: 0;
}

.navbar-placeholder{
    position: relative;
    margin-top: 6em;
}
.main-container{
    /* max-height: 55vh; */
    overflow: auto;
    max-height: calc(80vh - 5em);
}
::-webkit-scrollbar {
    width: 0.2em;
  }
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.navbar-bottom{
    position: fixed;
    display: flex;
    padding: 0;
    margin: auto;
    max-width: 450px;
    width: 100%;
    bottom: 1em;
    left: 0;
    border: 1px solid black;
    background-color: white;
}
.navbar-bottom a:nth-of-type(1){
    margin-left: auto;
}
.navbar-bottom a:nth-of-type(2){
    margin-left: auto;
    position: relative;
    top: -1.0em;
    background-color: #ffffff;
}
.navbar-bottom a:nth-of-type(3){
    margin-left: auto;
    margin-right: auto;
}

.clearFloar::after{
    content: "";
    clear: both;
}

.signin___button{
    cursor: pointer;
    outline-style: none;
    color: white;
    border: 1px solid var(--color-primary);
    border-radius: 3em;
    background-color: var(--color-primary);
    padding: 0.8em 0;
}

.border{
    border: 1px solid black;
    border-radius: 0.2em;
    padding: 0.2em;
}

.separator{
    max-height: 3px;
}

.card{
    margin-left: 0em;
    display: flex;
    flex-direction: column;
}
.card input[type="email"], .card input[type="password"], .card button[type="submit"] {
    width: 100%;
}

.card input[type="email"]:disabled, .card button[type="submit"]:disabled, button:disabled{
    background: #000;
}

.projects{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(6em, 2fr) );
}
.project{
    border: 1px solid black;
    border-radius: 0.2em;
    margin: 0.2em;
}
.project input[type="text"]{
    width: 80%;
    margin: 0 1em;
}

.createProject input[type="text"], .createProject input[type="color"], .createProject button[type="submit"], .createProject button[type="submit"]:disabled{
    width: 100%;
    margin: 0 1em;
}
.task-list{
    display: flex;
}
.task-list li{
    text-decoration: none;
    list-style-type: none;
}